/*Styling page*/
/* Use flexbox for horizontal and vertical navigation pages*/

.navbar-H{ /*Horizontal flex box established*/
    display:flex;
    background-color: rgb(54,69,79);
}

.navbar-H ul{
    list-style:none;
    display:flex;
}

.navbar-H li{
    width:120px; /*check sizes and correlated to font size of navbar-h a class*/
}

.navbar-H a{
    color:white;
    font-size:20px; /*check sizes*/
}