.main{
    display:flex;
    justify-content:center;
    align-items: center;
    border:5px solid blue;
    height:100vh;
    justify-content: space-between; 
    /* gap:10px; */
}

.container{ /*General Container for all*/
    display:flex;
    border:5px solid black;
    flex-direction: column;
}

.container-L{
    height:100vh;
    align-items: center;
    justify-content: center;
    min-width:auto;
    justify-content: space-around;
}

.container-R{
    height:100vh;
    max-width:auto;
    justify-content: center;
    align-items: center;
}

.container-M{
    height:80vh;
    max-width:140vh;
    flex-direction: row;
}
.container-M-L{
    width:50%;
    height:80vh;
    flex:wrap;
}

.container-M-R{
    width:50%;
    height:80vh;
}

.mylist{
    list-style:none; 
} 

.mylist h2, li, a{
    text-align: center;
    margin-top: 10px;
} 

.test-border{
    border:3px solid red;
}