.body{
    padding:0;
    margin:0;
    /*Add general font here*/
}

.myfonts{
    /*specific fonts for what you want*/
}

.myImg{
    width:100%;   
}

.main{
    display:flex;
}

.header-text{
    position:absolute;
    top:30%;
    right:45%;
}

.mylinkstyle{
    list-style:none;
    padding:10px;
}

.mylinkstyle a{
    text-decoration:none;
    color:black;
}

.mylinkstyle a:hover{
    color:blue;
}

.aboutText{
    width:70%;
    display:inline-block;
    margin-left:20px;
}

.links{
    display:inline-block;
}

.about{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:70px;
}
