/*Style Sheet for Welcome Page*/

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    border:10px solid red;
    height:100vh; /*Don't use max-height*/
    background-image:url(photos/Circuit-Back.jpg);
    background-repeat:no-repeat;
    background-size:cover; /*Sets the background as cover*/
    background-attachment: fixed; /*fixes the photo*/
}


.box-1{ /*Welcome message box*/
    justify-content:center;
    align-items:center;
    border:10px solid black;
    position:relative;
    
}

.box-1 h1{
    font-size:20vh;
    font-size:10vw;
    position:relative;
}

.container h1,h2,h3{
    margin:0;
    text-shadow:2px 2px 6px #000;
    text-align:center;
}

/*Links styling*/
.mylinks{
    display:flex;
    list-style-type:none;
    overflow:hidden;
    background-color:red;
    text-align: center;
    justify-content:center;
}

li a{
    display:flex;
    color:white;
    text-align:center;
    padding:16px;
    text-decoration:none;
    border:3px solid black;
}

li a:hover{
    background-color:purple;
}