body{
    display:flex;
    min-height:100vh;
    flex-direction:row;
    overflow:none;
    background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1); 
}

h2, a {
    font-family: "Sofia", sans-serif;
}

.myheader h2{
    font-size:3em;
    color:aqua;
    text-decoration:underline;
}


.centered h3{
    font-family:"cursive", sans-serif;
    font-size:1.5em;
}

.centered h4{
    font-size:1.5em;
    font-family:"cursive", sans-serif;
}

.centered li{
    font-weight:600;
    font-size:larger;
}

.left{
    display:flex;
    min-height:100vh;
    max-width:15%;
    margin:1%;
    padding:1%;
    align-items:center;
}

.left nav{
    height:80%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    justify-content:space-around;
}

.right{
    display:flex;
    min-height:100vh;
    flex:1;
    margin:1%;
    padding:1%;
    flex-direction:column;
    justify-content:space-evenly;
}

.right-1{
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
}

.myheader{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.centered{
    text-align:center;
    justify-content:center;
    flex:1 1 0; /*Each box has equal space*/
}

.myborder-2{
    border:3px solid red;
}

.myborder{
    border:3px solid gray;
}

ul, li{
    list-style-type:none;
    padding:1%;
}

a{
    background-color:aquamarine;
    border-radius: 25px;
    text-decoration:none;
    font-style:italic;
    font-weight:bold;
    padding:16px;
    color:black;
    font-size:25px;
}



