body{
    display:flex;
    min-height:100vh;
    background-image:url('photos/contact-background.jpg');
    background-repeat:no-repeat;
    background-size:cover; /*Sets the background as cover*/
    background-attachment: fixed; 
    background-position:center center;
}

.sidebar{
    min-width:150px;
    display:flex;
}

.sidebar nav{
    display:flex;
    align-items:center;
}

nav{
    flex-direction:column;
    justify-content:space-around;
    min-height:100vh;
}

.content{
    flex-grow:1;
    display:flex;
    max-height:100vh;
    border:3px solid black;
    flex-wrap: wrap;
    
}

.container-1{
    display:flex;
    height:50%;
    width:100%;
    border:2px solid red;
}

.container-2{
    display:flex;
    height:100%;
    width:70%;
    border:2px solid blue;
}

.inner-text{
    font-weight:700;
    font-size:24px;
    margin:auto;
}

@media only screen and(max-width:922px){
}