body{
    display:flex;
    border:2px solid red;
    min-height:100vh;
    justify-content:center;
    align-items:center;
}

.form-container{
    display:flex;
    border:2px solid black;
    padding:2em;
    min-height:70%; /*checkout modify with %?*/
    width:80%;
    height:70vh;
}

.nav-bar{
    display:flex;
    border:2px solid blue;
    padding:1em;
    width:15%;
    margin:1%;
}

.contact{
    display:flex;
    border:2px solid red;
    width:20%;
    padding:1em;
    margin:1%;
}

input[type=text], select, textarea{
    width:100%;
    padding:2%;
    border:1px solid green;
    border-radius:10%;
    box-sizing:border-box;
    resize:vertical;
    margin:2%;
}

input[type=submit]{
    background-color:green;
    color:white;
    border:none;
    border-radius:20%;
    cursor:pointer;
    padding:2%;
}

input[type=submit]:hover{
    background-color:#45a049;
}


.contact-form{
    border-radius:5px;
    background-color:white;
    padding:5%;
}

