body{
    display:flex;
    min-height:100vh;
    border:3px solid black;
    flex-direction:row;
}

.left{
    display:flex;
    min-height:100vh;
    border:3px solid red;
    max-width:15%;
    margin:1%;
    padding:1%;
    align-items:center;
}

.left nav{
    height:80%;
    display:flex;
    align-items:center;
    justify-content: center;
    border:2px solid black;
    flex-direction:column;
    justify-content:space-around;
}

.right{
    display:flex;
    min-height:100vh;
    border:3px solid blue;
    flex:1;
    margin:1%;
    padding:1%;
    flex-direction:column;
    justify-content:space-evenly;
}

.right-1{
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
    flex:1;
}

.myheader{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.centered{
    text-align:center;
    justify-content:center;

}

.myborder-2{
    border:3px solid red;
}

.myborder{
    border:3px solid gray;
}