/*Style Sheet for Welcome Page*/

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    border:10px solid red;
    height:100vh; /*Don't use max-height*/
    background-image:url(photos/intro.jpg);
    background-repeat:no-repeat;
    background-size:cover; /*Sets the background as cover*/
    background-attachment: fixed; /*fixes the photo*/
}


.box-1{ /*Welcome message box*/
    justify-content:center;
    align-items:center;
    justify-content:space-evenly;
    
}

.box-1 h1{
    font-size:40vh;
    font-size:15vw;
    position:relative;
    font-family: 'Alkatra', cursive;
    color:white;
}

.container h1,h2,h3{
    margin:0;
    text-shadow:2px 2px 6px #000;
    text-align:center;
}

/*Links styling*/
.mylinks{
    display:flex;
    list-style-type:none;
    overflow:hidden;
    text-align: center;
    justify-content:center;
    justify-content:space-around;
    gap:10px;
}

li a{
    display:flex;
    color:white;
    text-align:center;
    padding:16px;
    text-decoration:none;
    font-size:50px;
    border-radius:25px;
    font-style:italic;
    font-weight:bold;
    
}

li a:hover{
    background-color:purple;
}